<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dracoo.jobreport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".preparation.PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preparation.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".preparation.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".feature.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".feature.useractivity.UserActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/customer_site"
            />
        <activity android:name=".feature.vsatparameter.ParameterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/vsat_parameter"/>
        <activity android:name=".feature.xpoll.XpollActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/xpoll"
            />
        <activity android:name=".feature.datam2m.DataM2mActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/xpoll"
            />
        <activity android:name=".feature.replace.ReplaceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/xpoll"/>
    </application>

</manifest>